{% extends 'todo/base.html' %}

{% block content %}
    <body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Delete?</h1>
            <p class="lead">Do you want to delete this <strong>"{{ item }}"</strong> task?</p>
            <form action="" method="POST">
                {% csrf_token %}
                <h1></h1>
                <a href="{% url 'user_page' %}" class="btn btn-success" role="button">Cancel</a>
                <input type="submit" class="btn btn-danger" value="Delete">

            </form>
        </div>
    </main>
    </body>
{% endblock %}